@import 'normalize-lite.css';

:root {
	--topbar-height: 40px;
	--panel-width: 300px;
}

html {
	background: gray(94%);
	color: gray(54%);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: var(--topbar-height);

	background-color: gray(67%);
}

#content {
	margin-top: var(--topbar-height);
}

#main {
	margin-left: var(--panel-width);
	padding: 10px;
}
#main p {
	margin-top: 0;
}

.control-panel {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	margin-top: var(--topbar-height);
	left: 0;
	width: var(--panel-width);

	overflow: auto;

	padding: 10px;

	background-color: gray(87%);
}
.control-panel .section {
	margin-top: 0;
	text-align: center;

	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 16px;
}
.control-panel input[type="text"], .control-panel select {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;

	border-radius: 3px;

	background-color: gray(90%);
	border: 1px solid gray(73%);
}
