@import 'common/css/normalize-lite.css';

html {
   background-color: gray(94%);
   color: gray(54%);
}
a {
   text-decoration: none;
   color: gray(70%);
}
a:hover {
   color: gray(40%);
}

body {
   margin: 0 auto;
   width: 700px;
}

h1 {
   margin: 10px auto 20px;

   text-align: center;
}
h2 {
   margin-bottom: 60px;

   text-align: center;

   font-family: georgia;
   font-weight: normal;
   font-style: italic;
   font-size: 1.1em;

   color: #aaa;
}

ul {
   padding: 0;
   list-style-position: inside;
}

ul.demo {
   width: 70%;
   margin: 20px auto 60px;
   list-style: none;
}
ul.demo li {
   border: 1px solid gray(232);
   border-bottom: none;
   border-radius: 5px;
}
ul.demo li:last-child {
   border-bottom: 1px solid gray(232);
}
ul.demo li a {
   display: block;
   padding: 10px;

   font-size: 14px;

   background-color: gray(246);
}
ul.demo li a:hover {
   background-color: gray(253);
}
