@import '../../common/css/common.css';

.sidebar {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	bottom: 0;
	margin-top: var(--topbar-height);
	left: 0;
	width: var(--panel-width);

	overflow: hidden;

	padding: 0px;

	background-color: gray(87%);
}

.sidebar .optiscroll {
	height: 100%;
}

.sidebar__content {
	padding: 10px;
	user-select: none;
}

@import 'optiscroll.css';
